@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', 'Montserrat', sans-serif;
  --color-orange-50: #fff4ed;
  --color-orange-100: #ffe6d5;
  --color-orange-200: #fecca7;
  --color-orange-300: #fdac71;
  --color-orange-400: #fb823c;
  --color-orange-500: #f86014;
  --color-orange-600: #e9480b; /* This matches the copper from image */
  --color-orange-700: #c2330a;
  --color-orange-800: #9a290f;
  --color-orange-900: #7c2410;
  --color-orange-950: #431006;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-950 text-zinc-50;
  }

  ::selection {
    @apply bg-orange-500/30 text-white;
  }
}
